{% extends "base.html" %}

{% block title %}Clientes{% endblock %}

{% block content %}

<h1>Clientes</h1>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Email</th>
        </tr>
    </thead>

    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.telefone }}</td>
            <td>{{ cliente.email }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Nenhum cliente cadastrado</td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}
